/*  Chases */

.line {
  height: 25px;
  text-align: center;
  padding-top: 3px;

  &.half {
    height: 15px;
    padding-top: 0;
    .title {
      background-color: #CCCCCC;/*#AF857B;*/
      display: inline-block;
      width: 274px;
    }
  }
}
.space {
  background-color: #888888; /*rgb(121, 60, 45);*/
  color: white;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  /*line-height: 36px;*/
  &.full {
    height: 60px;
    padding-top: 20px;
    .title {
      /*line-height: 40px;*/
    }
  }

  .title {
    /*line-height: 23px;*/
  }
}

.aside .aside-dialog .aside-body {
padding: 0;
}

.chasecontainer {
  width: 280px;
  background-color: white;
  margin-top: 30px;
  font-weight: 200;
}

.courtmap {
  border: 3px solid #ff6f00 /*#222E10*/;
  position: relative;
}

.end-label{
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.chasepicker {
  /*height: 485px; 
  overflow-y: scroll; */

}

.line.blue {
  background-color: #68D;
  .title {
    background-color: #68D;
  }
}

.gallery {
  background-color: $brand-secondary-light;
}

.help {
  position: fixed;
  margin: 6px;
  border: 1px solid #ff6f00;
  padding: 10px;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  &.helpBottom {
    right: 0;
    /*top: 1550px;*/
    bottom: 0;
  }

  &.helpTop {
    right: 0;
    top: 50px;
  }
}