$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/*  override bootstrap variables */
$font-family-sans-serif:  'Roboto', sans-serif !default;

$brand-primary: #8bc34a;
$brand-primary-light: #dcedc8;
$brand-primary-dark: #689f38;

$brand-secondary: #ffc107;
$brand-secondary-light: #ffe082;
$brand-secondary-dark: #ff6f00;

$border-radius-base:        2px !default;
$border-radius-large:       2px !default;
$border-radius-small:       2px !default;

$font-weight-light: 200;

$padding: 15px;
