<div class="game view-container ng-cloak">
  <div class="card scoring">
    <div class="scoreHeadings">
      <div class="left-column-fluid">
        <div class="fluid-col-contents"><h3>Score</h3></div>
      </div> 
      <div class="right-column-fixed">
        <div class="sets"><h3>S</h3></div>
        <div class="games"><h3>G</h3></div>
        <div class="points"><h3>P</h3></div>  
      </div>
    </div>
    <div class="playerscore"  ng-click="awardPoint('p1')">
      <div class="left-column-fluid">
        <div class="fluid-col-contents">
          <div class="serveplaceholder " ng-class="{serve:gamedata.p1.serving, fault:gamedata.p1.faults==1}"></div>
          {{gamedata.p1.name}}
        </div>
      </div>
      <div class="right-column-fixed">
        <div class="score sets">{{gamedata.p1.sets}}</div>
        <div class="score games">{{gamedata.p1.games}}</div>
        <div class="score points">{{gamedata.p1.pointslabel}}</div>
      </div>
    </div>
    <div class="playerscore"  ng-click="awardPoint('p2')">
      <div class="left-column-fluid">
        <div class="fluid-col-contents">
          <div class="serveplaceholder" ng-class="{serve:gamedata.p2.serving, fault:gamedata.p2.faults==1}"></div>  
          {{gamedata.p2.name}}
        </div>
      </div>
      <div class="right-column-fixed">
        <div class="score sets">{{gamedata.p2.sets}}</div>
        <div class="score games">{{gamedata.p2.games}}</div>
        <div class="score points">{{gamedata.p2.pointslabel}}</div>
      </div>
    </div>
  </div>
  <div class="actionbar">
    <div class="button raised" ng-click="recoredFault()">Fault</div>
    <div type="button" class="button" button-popover data-placement="right" 
      data-animation="am-fade-and-scale" targetfn="setChase(chase)" 
      data-values="appsettings.chases.service" 
      ng-class="{disabled: gamedata.playingchase, raised: !gamedata.playingchase}">Ch<span class="poptarget">a</span>se</div>
    <div href="" class="button" button-popover data-placement="left" 
      data-animation="am-fade-and-scale" targetfn="setChase(chase)" 
      data-values="appsettings.chases.hazard"
      ng-class="{disabled: gamedata.playingchase, raised: !gamedata.playingchase}">Hazard chase</div>
  </div>
  <div class="card">
    <div class="notice">
      {{gamedata.notice}}
    </div>
  </div>
  <div class="card chasecard" id="chasecard">
    <h3>Chases</h3>
    <div class="cardcontents" >
      <div ng-show="gamedata.chases.length>0">
        <div class="chase" ng-repeat="chase in gamedata.chases" >
          <span ng-show="chase.hazard">Hazard chase </span>{{chase.name}}
        </div>
      </div>
      <div ng-hide="gamedata.chases.length>0">No Chases</div>
    </div>
  </div>
  <!-- <div class="card lastcard {{gamedisplay.logclasses}}" ng-class="{ fullsize:lastcard.expanded }" --> 
  <div class="card fullsize" ng-show="gamedisplay.showHistory" >
    <div class="cardheader">
      <h3>History</h3>
      <div class="cardicon">
        <img ng-click="gamedisplay.showHistory=false" src="images/close.svg"/>
        <!-- <img ng-hide="lastcard.expanded" ng-click="lastcard.expanded=true" src="images/expand-less.svg"/>
        <img ng-show="lastcard.expanded" ng-click="lastcard.expanded=false" src="images/expand-more.svg"/> -->
      </div>
    </div>
    <div class="cardcontents" id="test" scroll-top trigger="gamedisplay.showHistory">
       <div id="logcard">
        <div class="logentry" ng-repeat="log in gamedata.logs">
          {{log.text}}
        </div>
      </div>
    </div>
  </div>
</div>
