<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-body">
        <div class="chasecontainer">
          <div class="end-label top">Hazard end</div>
          <div id="chasepicker" class="chasepicker">
            <div class="courtmap">
             <div class="gallery"></div>
              <div class="gallery door gallery2"></div>
              <div class="gallery gallery3"></div>
              <div class="gallery gallery4"></div>
              <div class="gallery door gallery5"></div>
              <div class="gallery gallery6"></div>
              <div class="gallery gallery7"></div>
              <div class="gallery gallery8"></div>
              <div  ng-repeat="chase in appsettings.chases">
                <div class="{{chase.type}} {{chase.size}} {{chase.extraclasses}}" ng-click="setChase(chase)">
                  <div class="title">{{chase.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="end-label">Service end</div>          
        </div>
      </div>
    </div>
  </div>
</div>
