<div class="aside" tabindex="-1" role="dialog" id="chaseasside" scroll-help 
  scroll-top trigger="gamedisplay.scrollChaseBox">
  <div class="help helpBottom am-fade" ng-show="showBottomHelp">Drag &#8593;</div>
  <div class="help helpTop am-fade" ng-show="showTopHelp">Drag &#8595;</div>
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-body">
        <div class="chasecontainer scrolltarget">
          <div class="end-label top" ng-show="gamedisplay.showHazard">Hazard end</div>
          <div class="end-label top" ng-hide="gamedisplay.showHazard">Net</div>
          <div class="chasepicker">
            <div class="courtmap">
              <div  ng-repeat="chase in appsettings.chases | matchboolean:'hazard':gamedisplay.showHazard">
                <div class="{{chase.type}} {{chase.size}} {{chase.extraclasses}}" ng-click="setChase(chase)">
                  <div class="title">{{chase.name}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="end-label" ng-hide="gamedisplay.showHazard">Service end</div>          
          <div class="end-label" ng-show="gamedisplay.showHazard">Net</div>          
        </div>
      </div>
    </div>
  </div>
</div>
