<div class="chasecontainer">
  <div class="end-label top">Hazard end</div>
  <div id="chasepicker" class="chasepicker">
    <div class="courtmap">
      <div class="gallery"></div>
      <div class="gallery door gallery2"></div>
      <div class="gallery gallery3"></div>
      <div class="gallery gallery4"></div>
      <div class="gallery door gallery5"></div>
      <div class="gallery gallery6"></div>
      <div class="gallery gallery7"></div>
      <div class="gallery gallery8"></div>
      <div class="space"><div class="title">Better than half a yard</div></div>
      <div class="line half"><div class="title">Half a yard</div></div>
      <div class="space"><div class="title">Better than a yard</div></div>
      <div class="line"><div class="title">One yard</div></div>
      <div class="space"><div class="title">Worse than one yard</div></div>
      <div class="line half"><div class="title">One and Two</div></div>
      <div class="space"><div class="title">Better than two</div></div>
      <div class="line"><div class="title">Two yards</div></div>
      <div class="space"><div class="title">Worse than two</div></div>
      <div class="line half"><div class="title">Half a yard worse than two</div></div>
      <div class="space"><div class="title">Better than second gallery</div></div>
      <div class="line"><div class="title">Second gallery</div></div>
      <div class="space big"><div class="title">Worse than second gallery</div></div>
      <div class="line half"><div class="title">A yard worse than second gallery</div></div>
      <div class="space big"><div class="title">Better than the door</div></div>
      <div class="line"><div class="title">The door</div></div>
      <div class="space big"><div class="title">Worse than the door</div></div>
      <div class="line half"><div class="title">A yard worse than the door</div></div>
      <div class="space big"><div class="title">Better than first gallery</div></div>
      <div class="line"><div class="title">First gallery</div></div>
      <div class="space big"><div class="title">The line</div></div>
      <div class="line net"><div class="title"></div></div>
      <div class="space big"><div class="title">The line</div></div>
      <div class="line"><div class="title">First gallery</div></div>
      <div class="space big"><div class="title">Better than first gallery</div></div>
      <div class="line half"><div class="title">A yard worse than the door</div></div>
      <div class="space big"><div class="title">Worse than the door</div></div>
      <div class="line"><div class="title">The door</div></div>
      <div class="space big"><div class="title">Better than the door</div></div>
      <div class="line half"><div class="title">A yard worse than second gallery</div></div>
      <div class="space big"><div class="title">Worse than second gallery</div></div>
      <div class="line half blue"><div class="title">Second gallery</div></div>
      <div class="space big"><div class="title">Better than second gallery</div></div>
      <div class="line half"><div class="title">A yard better than second gallery</div></div>
      <div class="space big"><div class="title">More than a yard worse than last gallery</div></div>
      <div class="line"><div class="title">A yard worse than last gallery</div></div>
      <div class="space big"><div class="title">Nearly a yard worse than last gallery</div></div>
      <div class="line blue"><div class="title">Last gallery</div></div>
      <div class="space"><div class="title">Better than last gallery</div></div>
      <div class="line half"><div class="title">Half a yard worse than six</div></div>
      <div class="space"><div class="title">Better than six</div></div>
      <div class="line "><div class="title">Six Yards</div></div>
      <div class="space"><div class="title">Better than six yards</div></div>
      <div class="line half"><div class="title">Five and six</div></div>
      <div class="space"><div class="title">Worse than five yards</div></div>
      <div class="line "><div class="title">Five yards</div></div>
      <div class="space"><div class="title">Better than five yards</div></div>
      <div class="line half"><div class="title">Four and five</div></div>
      <div class="space"><div class="title">Worse than four yards</div></div>
      <div class="line "><div class="title">Four yards</div></div>
      <div class="space"><div class="title">Better than four yards</div></div>
      <div class="line half"><div class="title">Three and Four</div></div>
      <div class="space"><div class="title">Worse than three yards</div></div>
      <div class="line"><div class="title">Three yeards</div></div>
      <div class="space"><div class="title">Better than three yards</div></div>
      <div class="line half"><div class="title">Two and three</div></div>
      <div class="space"><div class="title">Worse than two yards</div></div>
      <div class="line"><div class="title">Two yards</div></div>
      <div class="space"><div class="title">Better than two yards</div></div>
      <div class="line half"><div class="title">One and two</div></div>
      <div class="space"><div class="title">Worse than one yard</div></div>
      <div class="line"><div class="title">One yards</div></div>
      <div class="space"><div class="title">Better than one yard</div></div>
      <div class="line half"><div class="title">Half a yard</div></div>
      <div class="space"><div class="title">Better than half a yard</div></div>
    </div>
  </div>
  <div class="end-label">Service end</div>
</div>

